<template>
  <div
    data-active-color="black"
    data-background-color="white"
    data-image
    class="app-sidebar"
  >
    <div class="sidebar-header">
      <div class="logo clearfix" style="background-color: darkslategrey">
        <a href="/admin/dashboard" class="logo-text float-left">
          <div class="logo-img"></div>
        </a>
        <a
          id="sidebarClose"
          href="#"
          class="nav-close d-block d-md-block d-lg-none d-xl-none text-white"
        >
          <i class="ft-x"></i>
        </a>
      </div>
    </div>

    <!-- Menu Sidebar -->
    <div class="sidebar-content">
      <div class="nav-container">
        <ul
          id="main-menu-navigation"
          class="navigation navvigation-main"
          data-menu="menu-navigation"
          data-scroll-to-active="true"
        >
          <li v-show="menu_dashboard">
            <router-link to="/admin/dashboard" class="nav-link">
              <i class="fa fa-bar-chart"></i>
              <span class="menu-title">Dashboard</span>
            </router-link>
          </li>

          <li v-show="menu_country_list || menu_other_role" class="has-sub">
            <a>
              <i class="fa fa-table"></i>
              <span data-i18n class="menu-title">Master Data</span>
              <span class="pull-right-container"></span>
            </a>
            <ul class="menu-content" style>
              <li v-show="menu_country_list" class="is-shown">
                <router-link to="/admin/country" class="nav-link">
                  <span data-i18n class="menu-title">List Country</span>
                </router-link>
              </li>
              <li v-show="menu_other_role" class="is-shown">
                <router-link to="#" class="nav-link">
                  <span data-i18n class="menu-title">List Generator</span>
                </router-link>
              </li>
            </ul>
          </li>

          <li v-show="menu_official_number">
            <router-link to="/admin/official-number" class="nav-link">
              <i class="fa fa-bar-chart"></i>
              <span class="menu-title">Official Number</span>
            </router-link>
          </li>

          <li
            v-show="menu_template_list || menu_template_create"
            class="has-sub"
          >
            <a>
              <i class="fa fa-file-text-o"></i>
              <span data-i18n class="menu-title">Template</span>
              <span class="pull-right-container"></span>
            </a>
            <ul class="menu-content" style>
              <li v-show="menu_template_list" class="is-shown">
                <router-link to="/admin/template" class="nav-link">
                  <span data-i18n class="menu-title">Template List</span>
                </router-link>
              </li>
              <li v-show="menu_template_create" class="is-shown">
                <router-link to="/admin/template/create" class="nav-link">
                  <span data-i18n class="menu-title">Template Create</span>
                </router-link>
              </li>
            </ul>
          </li>

          <li
            v-show="
              menu_contact_list ||
              menu_contact_create ||
              menu_contact_create_bulk
            "
            class="has-sub"
          >
            <a>
              <i class="fa fa-user-o"></i>
              <span data-i18n class="menu-title">Contact</span>
              <span class="pull-right-container"></span>
            </a>
            <ul class="menu-content" style>
              <li v-show="menu_contact_list" class="is-shown">
                <router-link to="/admin/contact" class="nav-link">
                  <span data-i18n class="menu-title">List Contact</span>
                </router-link>
              </li>
              <li v-show="menu_contact_create" class="is-shown">
                <router-link to="/admin/contact/create" class="nav-link">
                  <span data-i18n class="menu-title">Create Contact</span>
                </router-link>
              </li>
              <li v-show="menu_contact_create_bulk" class="is-shown">
                <router-link to="/admin/contact/create-bulk" class="nav-link">
                  <span data-i18n class="menu-title">Bulk Contact</span>
                </router-link>
              </li>
            </ul>
          </li>

          <li
            v-show="menu_group_list || menu_group_create || menu_group_assign"
            class="has-sub"
          >
            <a>
              <i class="fa fa-users"></i>
              <span data-i18n class="menu-title">Group</span>
              <span class="pull-right-container"></span>
            </a>
            <ul class="menu-content" style>
              <li v-show="menu_group_list" class="is-shown">
                <router-link to="/admin/group" class="nav-link">
                  <span data-i18n class="menu-title">List Group</span>
                </router-link>
              </li>
              <li v-show="menu_group_create" class="is-shown">
                <router-link to="/admin/create-group" class="nav-link">
                  <span data-i18n class="menu-title">Create Group</span>
                </router-link>
              </li>
              <li v-show="menu_group_assign" class="is-shown">
                <router-link to="/admin/assign-group" class="nav-link">
                  <span data-i18n class="menu-title">Assign Contact</span>
                </router-link>
              </li>
            </ul>
          </li>

          <li
            v-show="menu_blast_recuiring || menu_blast_scheduled"
            class="has-sub"
          >
            <a>
              <i class="fa fa-paper-plane-o"></i>
              <span data-i18n class="menu-title">Blast</span>
              <span class="pull-right-container"></span>
            </a>
            <ul class="menu-content" style>
              <li v-show="menu_blast_recuiring" class="is-shown">
                <router-link to="/admin/blast/recuring" class="nav-link">
                  <span data-i18n class="menu-title">Recuring</span>
                </router-link>
              </li>
              <li v-show="menu_blast_scheduled" class="is-shown">
                <router-link to="/admin/blast/scheduled" class="nav-link">
                  <span data-i18n class="menu-title">Scheduled</span>
                </router-link>
              </li>
            </ul>
          </li>

          <li
            v-show="menu_user_management || menu_assign_user_management"
            class="has-sub"
          >
            <a>
              <i class="fa fa-user-o"></i>
              <span data-i18n class="menu-title">User Management</span>
              <span class="pull-right-container"></span>
            </a>
            <ul class="menu-content" style>
              <li v-show="menu_user_management" class="is-shown">
                <router-link to="/admin/user-management" class="nav-link">
                  <span data-i18n class="menu-title">List User</span>
                </router-link>
              </li>
              <li v-show="menu_assign_user_management" class="is-shown">
                <router-link
                  to="/admin/assignment-user-management"
                  class="nav-link"
                >
                  <span data-i18n class="menu-title">Assignment User</span>
                </router-link>
              </li>
            </ul>
          </li>

          <li v-show="menu_log">
            <router-link to="/admin/log" class="nav-link">
              <i class="fa fa-list"></i>
              <span class="menu-title">Log</span>
            </router-link>
          </li>

          <li v-show="menu_audit_trail">
            <router-link to="/admin/audit-trail" class="nav-link">
              <i class="fa fa-history"></i>
              <span class="menu-title">Audit Trail</span>
            </router-link>
          </li>

          <li v-show="menu_sandbox">
            <router-link to="/admin/sandbox" class="nav-link">
              <i class="fa fa-table"></i>
              <span class="menu-title">SandBox</span>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Menu Sidebar-->
    <div class="sidebar-background"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      menu_access: [],
      menu_dashboard: false,
      menu_official_number: false,
      menu_user_management: false,
      menu_assign_user_management: false,
      menu_template_list: false,
      menu_template_create: false,
      menu_contact_list: false,
      menu_contact_create: false,
      menu_contact_create_bulk: false,
      menu_group_list: false,
      menu_group_create: false,
      menu_group_assign: false,
      menu_country_list: false,
      menu_other_role: false,
      menu_blast_recuiring: false,
      menu_blast_scheduled: false,
      menu_log: false,
      menu_audit_trail: false,
      menu_sandbox: false,
    };
  },
  mounted() {
    if (localStorage.getItem("user_access")) {
      let menu = localStorage.getItem("user_access");
      this.menu_access = JSON.parse(menu);
      this.dashboard = false;

      for (let i = 0; i < this.menu_access.length; i++) {
        let menu_access = this.menu_access[i]["id"];
        if (menu_access === 1) {
          this.menu_dashboard = true;
        } else if (menu_access === 2) {
          this.menu_official_number = true;
        } else if (menu_access === 3) {
          this.menu_user_management = true;
        } else if (menu_access === 4) {
          this.menu_template_list = true;
        } else if (menu_access === 5) {
          this.menu_template_create = true;
        } else if (menu_access === 6) {
          this.menu_contact_list = true;
        } else if (menu_access === 7) {
          this.menu_contact_create = true;
        } else if (menu_access === 8) {
          this.menu_contact_create_bulk = true;
        } else if (menu_access === 9) {
          this.menu_group_list = true;
        } else if (menu_access === 10) {
          this.menu_group_create = true;
        } else if (menu_access === 11) {
          this.menu_group_assign = true;
        } else if (menu_access === 12) {
          this.menu_country_list = true;
        } else if (menu_access === 13) {
          this.menu_other_role = true;
        } else if (menu_access === 14) {
          this.menu_blast_recuiring = true;
        } else if (menu_access === 15) {
          this.menu_blast_scheduled = true;
        } else if (menu_access === 16) {
          this.menu_log = true;
        } else if (menu_access === 17) {
          this.menu_audit_trail = true;
        } else if (menu_access === 18) {
          this.menu_sandbox = true;
        } else if (menu_access === 19) {
          this.menu_assign_user_management = true;
        }
      }
    }
  },
  methods: {},
};
</script>
