.dashboard h1,
.dashboard h2,
.dashboard h3,
.dashboard h4,
.dashboard h5,
.dashboard h6,
.dashboard p {
    margin: 0;
}

.dashboard h1 {
    font-weight: 900;
    font-size: 35px;
}

.dashboard h2 {
    font-weight: 900;
    font-size: 17px;
}

.dashboard h3 {
    font-weight: 900;
    font-size: 12px;
}

.dashboard h4 {
    font-weight: 900;
    font-size: 14px;
}

.dashboard h5 {
    font-size: 13px;
}

.dashboard h6 {
    font-weight: 600;
    letter-spacing: 1px;
}

.dashboard p {
    font-size: 10px;
    color: #AFAFAF;
}

.dashboard a {
    font-size: 11px;
    padding: 9px 0;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    text-align: center;
    z-index: 1000;
    top: 40px;
    padding: 0;
}

.carousel-control.right i,
.carousel-control.left i {
    font-size: 40px;
    top: 0px;
}

/* ===== */

.active>div {
    display: none;
}

.active>div:first-child {
    display: block;
}

.carousel-inner .active.left {
    left: -50%;
}

.carousel-inner .active.right {
    left: 50%;
}

.carousel-inner .next {
    left: 50%;
}

.carousel-inner .prev {
    left: -50%;
}

.carousel-col {
    width: 50%;
}

.active>div:first-child+div {
    display: block;
}

/* ===== */

.notification .item {
    float: left;
    width: 100%;
    font-size: 11px;
    margin-bottom: 10px;
    background-color: #F3F3F3;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    padding: 12px 5px;
}

@media (min-width: 1535px) {
    .notification .item {
        float: left;
        width: 100%;
        font-size: 11px;
        margin-bottom: 10px;
        background-color: #F3F3F3;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
        padding: 16px 5px;
    }
}

.notification .item:last-child {
    margin-bottom: 5px;
}

.notification .item span {
    float: left;
    padding-top: 5px;
    width: 45px;
    height: 20px;
    text-align: center;
    font-size: 22px;
    color: #34B7F1;
}

.notification .item p {
    float: left;
    margin-bottom: 0;
    color: #AFAFAF;
    line-height: 16px;
    font-size: 12px;
}

.notification .item p small {
    font-style: italic;
    color: #CECECE;
}

.notification .item a {
    float: left;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.all-notification .item {
    float: left;
    width: 100%;
    font-size: 11px;
    margin-bottom: 10px;
    background-color: #F3F3F3;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    padding: 12px 5px;
}

.all-notification .item:last-child {
    margin-bottom: 5px;
}

.all-notification .item span {
    float: left;
    width: 45px;
    height: 20px;
    text-align: center;
    font-size: 22px;
    color: #34B7F1;
}

.all-notification .item p {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    color: #AFAFAF;
    line-height: 16px;
    font-size: 12px;
    font-weight: 200;
}

.all-notification .item p small {
    font-style: italic;
    color: #CECECE;
}

.all-notification .item a {
    float: left;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.highcharts-credits {
    display: none;
}

.dashboard-text-blue {
    color: #4799E1 !important;
}

.dashboard-text-green {
    color: #31D65D !important;
}

.dashboard-text-yellow {
    color: #E6C43C !important;
}

.dashboard-text-red {
    color: #EF3F51 !important;
}