.section-title {
    margin: 200px 0 100px 0;
}

.section-features h2,
.section-requirements h2,
.section-installation h2 {
    font-size: 25px;
    font-weight: bold;
}

.section-features p,
.section-requirements p {
    font-size: 14px;
    line-height: 30px;
}

.section-installation {
    margin-bottom: 200px;
}

.section-installation table {
    font-size: 14px;
}

.section-installation table td {
    padding-bottom: 20px;
}

.section-installation .number {
    padding-left: 20px;
    padding-right: 10px;
}

.section-installation .highlight {
    color: #D44950;
}

.section-installation .terminal {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    background: #333;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: scroll;
    white-space: nowrap;
    display: inline-block;
}

.section-installation .code {
    width: 100%;
    padding: 20px 30px;
    margin: 10px 0;
    background: #CCC;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: scroll;
    white-space: nowrap;
    display: inline-block;
}