a {
  color: #ffffff;
}

a:hover {
  outline: 0;
  text-decoration: none;
}

a:active {
  outline: 0;
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

.btn {
  border-radius: 3px;
  font-size: 14px;
}

button:focus {
  outline: none;
}

.card {
  border: none;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
  box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
  margin-bottom: 30px;
}

.home-btn {
  position: absolute;
  top: 15px;
  right: 25px;
  z-index: 9;
  width: 60px;
  height: 60px;
  background-color: rgba(29, 130, 197, 0.7);
  color: #fff;
}

.home-btn:hover {
  background-color: #fff;
  color: rgba(29, 130, 197, 0.2) !important;
}

.wrapper-page {
  margin: 5.5% auto;
  max-width: 500px;
  position: relative;
}

.main-background {
  position: absolute;
  background-image: url("../../images/layouts/login/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.left-panel {
  float: left;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #075e54;
}

.left-panel .logo {
  line-height: 70px;
}

.left-panel .card {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (min-width: 768px) {
  .left-panel {
    left: 0;
    position: absolute;
    height: 100vh;
    margin: 0;
    width: 420px;
    background-color: #075e54;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

.card {
  background-color: transparent !important;
}

#w0 {
  padding-top: 10px;
}

#w0 .text-input-wrapper {
  height: 80px;
}

#w0 input[type="text"],
#w0 input[type="password"] {
  width: 100%;
  height: 40px;
  line-height: 30px;
  padding: 22px 12px;
  border-radius: 8px;
  border: 2px solid #ffffff;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

#w0 .has-error input[type="text"],
#w0 .has-error input[type="password"] {
  border: 2px solid #ec4561 !important;
}

#w0 label {
  font-size: 13px;
  font-weight: 400;
}

::-webkit-input-placeholder {
  color: #aaaaaa !important;
}

:-ms-input-placeholder {
  color: #aaaaaa !important;
}

::placeholder {
  color: #aaaaaa !important;
}

label {
  color: #ffffff;
}

.help-block {
  margin-top: 6px;
  padding-left: 5px;
  color: #cccccc !important;
  font-size: 11px;
  text-align: right;
}
