html {
    scroll-behavior: smooth
}

body {
    font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    background: #007BFF;
    border-radius: 10px
}

.navbar {
    padding: 1em 2em !important;
}

.navbar-brand {
    padding-top: 2px;
}

.navbar-toggler {
    background: 0 0;
    border: none !important
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: 0
}

.navbar-toggler .icon-bar {
    display: block;
    width: 36px;
    height: 3px;
    margin: 7px 0;
    transition: all .2s;
    background: #fff;
}

.navbar-toggler .icon-bar:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%
}

.navbar-toggler .icon-bar:nth-of-type(2) {
    opacity: 0
}

.navbar-toggler .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
    transform: rotate(0)
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
    transform: rotate(0)
}

.nav-link {
    font-size: 15px;
    font-weight: 450;
    letter-spacing: 1px;
    text-align: center;
    color: #fff !important
}

.nav-link:focus,
.nav-link:hover {
    background-color: #4E5CCF;
    color: #fff !important
}

.navbar-nav li {
    font-size: 14px;
    padding: 0 !important;
    border-top: 1px solid #fff
}

.navbar-nav li:last-child {
    border-bottom: 1px solid #fff
}

.navbar-collapse {
    margin-top: 15px;
    padding: 20px;
}

.nav-item .active {
    background-color: #4E5CCF !important;
    color: #fff !important
}

@media (min-width:992px) {
    .navbar {
        padding: 0.5em 5em !important;
    }

    .navbar-anchor {
        margin-left: 50px
    }

    .nav-item {
        display: table-cell;
        position: relative;
        padding: 15px 0;
    }

    .nav-link {
        padding: .5rem 1rem !important;
        font-size: 16px;
        display: inline-block;
    }

    .nav-link:focus,
    .nav-link:hover {
        padding: .3rem 1rem !important;
        background-color: transparent;
        color: #007BFF !important
    }

    .nav-link-large:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 3px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .nav-link-large:hover:after {
        width: 100%;
        left: 0;
    }

    .navbar-nav li {
        font-size: 14px;
        padding: 0 !important;
        border-top: none
    }

    .navbar-nav li:last-child {
        border-bottom: none
    }

    .navbar-collapse {
        background-color: transparent !important;
        margin-top: 0;
        padding: 0
    }

    .nav-item .active {
        background-color: transparent !important;
        color: #25d366 !important
    }
}

.navbar-btn {
    width: 120px;
    color: #fff !important
}

.navbar-btn-wrapper {
    text-align: center;
    border: none !important
}

.navbar-btn-wrapper a {
    margin-top: 20px !important
}

@media (min-width:992px) {
    .navbar-btn-wrapper {
        text-align: left;
        border: none !important
    }

    .navbar-btn-wrapper a {
        margin-top: 5px !important
    }
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: rgba(29, 130, 197, 0.4);
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        background-color: rgba(29, 130, 197, 1);
    }

    .dropdown-item {
        color: #fff;
    }

    .dropdown-item:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.forgot-link a:hover {
    color: #ccc;
}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #ABABAB;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #1D81C5;
    font-weight: bold;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block;
    padding-bottom: 10px;
    font-size: 16px;
}

.footer-links a {
    color: #1D81C5
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.instagram:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}