.app-sidebar .logo-img {
    height: 72px;
    width: 170px;
    margin-left: 10px;
    background-image: url(../../images/wappin/logo-color.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
  
.wrapper.nav-collapsed .app-sidebar .logo-img {
    height: 50px;
    width: 50px;
    margin-left: -10px;
    background-image: url(../../images/wappin/icon-white.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
  
.wrapper.nav-collapsed .app-sidebar:hover .logo-img {
    height: 72px;
    width: 170px;
    margin-left: 10px;
    background-image: url(../../images/wappin/logo-color.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.xmp-wrapper {
    white-space: pre-wrap;
    max-width: 100%;
    max-height: 100%;
    margin-top: -40px;
    margin-bottom: -40px;
    overflow-y: hidden;
}

.xmp-json {
    white-space: pre-wrap;
    font-size: 0.8rem;
    word-break: break-all;
}

.xmp-json.long {
    overflow-y: scroll;
    max-height: 200px;
}

.xmp-json.longer {
    overflow-y: scroll;
    max-height: 300px;
}

.label-json {
    font-family: unset;
    font-weight: unset;
    display: table-cell;
    vertical-align: middle;
}

.select2-container--bootstrap .select2-selection {
    background: #30857C;
    border: none;
    border-radius: 25px;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
    color: #CCCCCC;
    font-size: 11px;
}

.pager-active {
    z-index: 1;
    background-color: #009DA0;
    border-color: #009DA0;
}

.pager-active:hover {
    background-color: #1dabae;
    border-color: #1dabae;
}

.pager-active .page-item {
    color: #FFFFFF;
}

#breadcrumb {
    list-style: none;
    display: inline-block;
    margin: 0;
    font-weight: 400;
    letter-spacing: 0.6px;
    opacity: 1;
    height: auto;
    background-color: unset;
    margin-right: -15px;
    margin-left: -15px;
}

#breadcrumb .breadcrumb-item::before {
    content: "";
}

#breadcrumb .icon {
    font-size: 14px;
}

#breadcrumb li {
    float: left;
}

#breadcrumb li a, #breadcrumb li.active {
    color: #FFF;
    display: inline-block;
    background: #075E54;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 25px;
}

#breadcrumb li:nth-child(even) a, #breadcrumb li.active:nth-child(even) {
    background-color: #30857C;
}

#breadcrumb li:nth-child(even) a:before, #breadcrumb li.active:nth-child(even):before {
    border-color: #30857C;
    border-left-color: transparent;
}

#breadcrumb li:nth-child(even) a:after, #breadcrumb li.active:nth-child(even):after {
    border-left-color: #30857C;
}

#breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 0 0 4px;
}

#breadcrumb li:first-child a:before {
    border: none;
}

#breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0;
}

#breadcrumb li:last-child a:after, #breadcrumb li.active:last-child:after {
    border: none;
}

#breadcrumb li a:before, #breadcrumb li a:after,
#breadcrumb li.active:before, #breadcrumb li.active:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #075E54;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}

#breadcrumb li a:before,#breadcrumb li.active:before {
    left: -20px;
    border-left-color: transparent;
}

#breadcrumb li a:after, #breadcrumb li.active:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #075E54;
}

#breadcrumb li a:hover, #breadcrumb li.active:hover {
    background-color: #1d9d74;
}

#breadcrumb li a:hover:before, #breadcrumb li.active:hover:before {
    border-color: #1d9d74;
    border-left-color: transparent;
}

#breadcrumb li a:hover:after, #breadcrumb li.active:hover:after {
    border-left-color: #1d9d74;
}

#breadcrumb li a:active, #breadcrumb li.active:active {
    background-color: #16a085;
}

#breadcrumb li a:active:before, #breadcrumb li.active:active:before {
    border-color: #16a085;
    border-left-color: transparent;
}

#breadcrumb li a:active:after, #breadcrumb li.active:active:after {
    border-left-color: #16a085;
}

.tokenCopy {
    cursor: pointer;
}