.table {
    border-radius: 10px;
    overflow: hidden;
}

.table thead {
    background-color: #075E54;
    border-color: #075E54 !important;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th {
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    vertical-align: middle;
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    word-break: keep-all;
}

.table-bordered>thead>tr>th>a,
.table-bordered>tbody>tr>th>a,
.table-bordered>tfoot>tr>th>a {
    color: #FFFFFF;
}

.table-bordered>thead>tr>td>input {
    border-radius: 25px !important;
    border: none !important;
    background-color: #30857C;
    color: #FFFFFF;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
}

.table-bordered>thead>tr>td>select {
    border-radius: 25px !important;
    border: none !important;
    background-color: #30857C;
    color: #CCCCCC;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
}

.table-bordered>thead>tr>td>select option {
    background: #FFFFFF;
    float: left;
    padding: 10px 15px;
}

.table-bordered>thead>tr>td>input::placeholder {
    color: #CCCCCC;
    opacity: 1;
}

.table-bordered>thead>tr>td>input:-ms-input-placeholder {
    color: #CCCCCC;
}

.table-bordered>thead>tr>td>input::-ms-input-placeholder {
    color: #CCCCCC;
}

.table-bordered>thead>tr>td,
.table-bordered>tfoot>tr>td,
.table-bordered>tbody>tr>td {
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    vertical-align: middle;
    font-size: 11px;
}

@media (min-width: 576px) {
    .select2-container--bootstrap.select2-container--open .select2-dropdown--below,
    .select2-container--bootstrap .select2-dropdown--above {
        min-width: 150px;
    }
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    font-size: 11px;
}

.select2-container--bootstrap .select2-selection--single {
    height: 29.75px;
}