<template>
  <div id="app">
    <div class="wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-faded header-navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <button
              type="button"
              data-toggle="collapse"
              class="navbar-toggle d-lg-none float-left"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="d-lg-none navbar-right navbar-collapse-toggle">
              <a
                aria-controls="navbarSupportedContent"
                href="javascript:;"
                class="open-navbar-container black"
              >
                <i class="ft-more-vertical"></i>
              </a>
            </span>
          </div>
          <div class="navbar-container">
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
              <ul class="navbar-nav">
                <!-- <li class="nav-item mr-2 d-none d-lg-block">
              <a id="navbar-fullscreen" href="javascript:;" class="nav-link apptogglefullscreen">
                <i class="ft-maximize font-medium-3 blue-grey darken-4"></i>
                <p class="d-none">fullscreen</p>
              </a>
            </li>-->
                <li class="dropdown nav-item">
                  <a
                    id="dropdownBasic3"
                    href="#"
                    data-toggle="dropdown"
                    class="nav-link position-relative dropdown-toggle"
                  >
                    <i class="ft-user font-medium-1 blue-grey darken-4"
                      >&nbsp;{{ username }}</i
                    >
                    <p class="d-none">User Settings</p>
                  </a>
                  <div
                    ngbdropdownmenu
                    aria-labelledby="dropdownBasic3"
                    class="dropdown-menu text-left dropdown-menu-right"
                  >
                    <a
                      href="<?= Url::to('/admin/rbac/user/update/').Yii::$app->user->identity->id ?>"
                      class="dropdown-item py-1"
                    >
                      <i class="ft-edit mr-2"></i>
                      <span>Edit Profile</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" @click="logout()">
                      <i class="ft-power mr-2"></i>
                      <span>Logout</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!-- end Header -->

      <!-- Menu Side -->
      <div
        data-active-color="black"
        data-background-color="white"
        data-image
        class="app-sidebar"
      >
        <div class="sidebar-header">
          <div class="logo clearfix" style="background-color: darkslategrey">
            <a href="/admin/dashboard" class="logo-text float-left">
              <div class="logo-img"></div>
            </a>
            <a
              id="sidebarClose"
              href="#"
              class="nav-close d-block d-md-block d-lg-none d-xl-none text-white"
            >
              <i class="ft-x"></i>
            </a>
          </div>
        </div>

        <!-- Menu Sidebar -->
        <div class="sidebar-content">
          <div class="nav-container">
            <ul
              id="main-menu-navigation"
              class="navigation navvigation-main"
              data-menu="menu-navigation"
              data-scroll-to-active="true"
            >
              <li v-show="menu_dashboard">
                <router-link to="/admin/dashboard" class="nav-link">
                  <i class="fa fa-bar-chart"></i>
                  <span class="menu-title">Dashboard</span>
                </router-link>
              </li>

              <li v-show="menu_country_list || menu_other_role" class="has-sub">
                <a>
                  <i class="fa fa-table"></i>
                  <span data-i18n class="menu-title">Master Data</span>
                  <span class="pull-right-container"></span>
                </a>
                <ul class="menu-content" style>
                  <li v-show="menu_country_list" class="is-shown">
                    <router-link to="/admin/country" class="nav-link">
                      <span data-i18n class="menu-title">List Country</span>
                    </router-link>
                  </li>
                  <li v-show="menu_other_role" class="is-shown">
                    <router-link to="#" class="nav-link">
                      <span data-i18n class="menu-title">List Generator</span>
                    </router-link>
                  </li>
                </ul>
              </li>

              <li v-show="menu_official_number">
                <router-link to="/admin/official-number" class="nav-link">
                  <i class="fa fa-bar-chart"></i>
                  <span class="menu-title">Official Number</span>
                </router-link>
              </li>

              <li
                v-show="menu_template_list || menu_template_create"
                class="has-sub"
              >
                <a>
                  <i class="fa fa-file-text-o"></i>
                  <span data-i18n class="menu-title">Template</span>
                  <span class="pull-right-container"></span>
                </a>
                <ul class="menu-content" style>
                  <li v-show="menu_template_list" class="is-shown">
                    <router-link to="/admin/template" class="nav-link">
                      <span data-i18n class="menu-title">Template List</span>
                    </router-link>
                  </li>
                  <li v-show="menu_template_create" class="is-shown">
                    <router-link to="/admin/template/create" class="nav-link">
                      <span data-i18n class="menu-title">Template Create</span>
                    </router-link>
                  </li>
                </ul>
              </li>

              <li
                v-show="
                  menu_contact_list ||
                  menu_contact_create ||
                  menu_contact_create_bulk
                "
                class="has-sub"
              >
                <a>
                  <i class="fa fa-user-o"></i>
                  <span data-i18n class="menu-title">Contact</span>
                  <span class="pull-right-container"></span>
                </a>
                <ul class="menu-content" style>
                  <li v-show="menu_contact_list" class="is-shown">
                    <router-link to="/admin/contact" class="nav-link">
                      <span data-i18n class="menu-title">List Contact</span>
                    </router-link>
                  </li>
                  <li v-show="menu_contact_create" class="is-shown">
                    <router-link to="/admin/contact/create" class="nav-link">
                      <span data-i18n class="menu-title">Create Contact</span>
                    </router-link>
                  </li>
                  <li v-show="menu_contact_create_bulk" class="is-shown">
                    <router-link
                      to="/admin/contact/create-bulk"
                      class="nav-link"
                    >
                      <span data-i18n class="menu-title">Bulk Contact</span>
                    </router-link>
                  </li>
                </ul>
              </li>

              <li
                v-show="
                  menu_group_list || menu_group_create || menu_group_assign
                "
                class="has-sub"
              >
                <a>
                  <i class="fa fa-users"></i>
                  <span data-i18n class="menu-title">Group</span>
                  <span class="pull-right-container"></span>
                </a>
                <ul class="menu-content" style>
                  <li v-show="menu_group_list" class="is-shown">
                    <router-link to="/admin/group" class="nav-link">
                      <span data-i18n class="menu-title">List Group</span>
                    </router-link>
                  </li>
                  <li v-show="menu_group_create" class="is-shown">
                    <router-link to="/admin/create-group" class="nav-link">
                      <span data-i18n class="menu-title">Create Group</span>
                    </router-link>
                  </li>
                  <li v-show="menu_group_assign" class="is-shown">
                    <router-link to="/admin/assign-group" class="nav-link">
                      <span data-i18n class="menu-title">Assign Contact</span>
                    </router-link>
                  </li>
                </ul>
              </li>

              <li
                v-show="menu_blast_recuiring || menu_blast_scheduled"
                class="has-sub"
              >
                <a>
                  <i class="fa fa-paper-plane-o"></i>
                  <span data-i18n class="menu-title">Blast</span>
                  <span class="pull-right-container"></span>
                </a>
                <ul class="menu-content" style>
                  <li v-show="menu_blast_recuiring" class="is-shown">
                    <router-link to="/admin/blast/recuring" class="nav-link">
                      <span data-i18n class="menu-title">Recuring</span>
                    </router-link>
                  </li>
                  <li v-show="menu_blast_scheduled" class="is-shown">
                    <router-link to="/admin/blast/scheduled" class="nav-link">
                      <span data-i18n class="menu-title">Scheduled</span>
                    </router-link>
                  </li>
                </ul>
              </li>

              <li
                v-show="menu_user_management || menu_assign_user_management"
                class="has-sub"
              >
                <a>
                  <i class="fa fa-user-o"></i>
                  <span data-i18n class="menu-title">User Management</span>
                  <span class="pull-right-container"></span>
                </a>
                <ul class="menu-content" style>
                  <li v-show="menu_user_management" class="is-shown">
                    <router-link to="/admin/user-management" class="nav-link">
                      <span data-i18n class="menu-title">List User</span>
                    </router-link>
                  </li>
                  <li v-show="menu_assign_user_management" class="is-shown">
                    <router-link
                      to="/admin/assignment-user-management"
                      class="nav-link"
                    >
                      <span data-i18n class="menu-title">Assignment User</span>
                    </router-link>
                  </li>
                </ul>
              </li>

              <li v-show="menu_log">
                <router-link to="/admin/log" class="nav-link">
                  <i class="fa fa-list"></i>
                  <span class="menu-title">Log</span>
                </router-link>
              </li>

              <li v-show="menu_audit_trail">
                <router-link to="/admin/audit-trail" class="nav-link">
                  <i class="fa fa-history"></i>
                  <span class="menu-title">Audit Trail</span>
                </router-link>
              </li>

              <li v-show="menu_sandbox">
                <router-link to="/admin/sandbox" class="nav-link">
                  <i class="fa fa-table"></i>
                  <span class="menu-title">SandBox</span>
                </router-link>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Menu Sidebar-->
        <div class="sidebar-background"></div>
      </div>
      <!-- End Menu Side -->

      <div class="main-panel">
        <div class="main-content">
          <div class="content-wrapper">
            <nuxt />
          </div>
        </div>
        <footer class="footer">
          <p class="clearfix text-muted text-sm-center px-2">
            <span>
              Copyright &copy; 2020
              <a href="#" class="text-bold-800 primary darken-2">wappin-go.id</a
              >, All rights reserved.
            </span>
          </p>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
import "./../assets/template/js/popper.min.js";
import "./../assets/template/js/bootstrap.min.js";
import "./../assets/template/js/perfect-scrollbar.jquery.min.js";
import "./../assets/template/js/jquery.matchHeight-min.js";
import "./../assets/template/js/screenfull.min.js";
import "./../assets/template/js/pace.min.js";
import "./../assets/template/js/app-sidebar.js";
import "./../assets/template/js/notification-sidebar.js";
import "./../assets/template/js/customizer.js";

export default {
  data() {
    return {
      username: "Ganesa Anggara Toala",
      authenticated: true,

      // menu Side
      menu_access: [],
      menu_dashboard: true,
      menu_official_number: true,
      menu_user_management: true,
      menu_assign_user_management: true,
      menu_template_list: true,
      menu_template_create: true,
      menu_contact_list: true,
      menu_contact_create: true,
      menu_contact_create_bulk: true,
      menu_group_list: true,
      menu_group_create: true,
      menu_group_assign: true,
      menu_country_list: true,
      menu_other_role: true,
      menu_blast_recuiring: true,
      menu_blast_scheduled: true,
      menu_log: true,
      menu_audit_trail: true,
      menu_sandbox: true,
    };
  },
};
</script>



<style scoped>
@import "./../assets/template/css/fonts/feather/style.min.css";
@import "./../assets/template/css/fonts/simple-line-icons/style.css";
@import "./../assets/template/css/perfect-scrollbar.min.css";
@import "./../assets/template/css/prism.min.css";
@import "./../assets/template/css/app.css";
@import "./../assets/template/css/custom-layout.css";
@import "./../assets/template/css/table.css";
@import "./../assets/css/drac-utilities.css";
</style>