// Login.vue
<template>
  <div id="login">
    <div class="main-background"></div>
    <div class="wrapper-page left-panel">
      <div class="card">
        <div class="card-body">
          <div class="text-center mt-3 mb-3">
            <a href="/" class="logo">
              <div>
                <img src="@/assets/images/wappin/logo-color.png" />
              </div>
            </a>
          </div>

          <div class="p-3">
            <h5 class="text-white text-center pt-2">Welcome Back !</h5>
            <p class="text-white text-center mb-4">Sign in to continue.</p>
            <form @submit.prevent="login">
              <div v-show="submitted && error" class="help-block">
                username and passoword not valid.
              </div>
              <div class="text-input-wrapper mb-4">
                <div class="form-group login">
                  <label class="control-label text-white">Username</label>
                  <input
                    class="form-control"
                    type="text"
                    name="username"
                    v-model="username"
                    placeholder="Username"
                  />
                  <div v-show="submitted && !username" class="help-block">
                    Username cannot be blank.
                  </div>
                </div>
              </div>

              <div class="text-input-wrapper mb-4">
                <div class="form-group login">
                  <label class="control-label text-white">Password</label>
                  <input
                    class="form-control"
                    type="password"
                    name="password"
                    v-model="password"
                    placeholder="Password"
                  />
                  <div v-show="submitted && !password" class="help-block">
                    Password cannot be blank.
                  </div>
                </div>
              </div>
              <div class="forgotpassword">
                <a href="/forgot-password">
                  <i class="fa fa-lock"></i>&nbsp;Forgot your password ?
                </a>
              </div>

              <div class="form-group row mt-4 mb-5">
                <div class="col-sm-6">
                  <div class="custom-checkbox">
                    <div class="form-group field-loginform-rememberme">
                      <label class="control-label text-white">
                        <input
                          type="checkbox"
                          id="remmember"
                          name="remmember"
                        />
                        Remember Me
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 text-right">
                  <button
                    class="btn btn-light col-md-10 font-bold text-uppercase"
                    type="submit"
                  >
                    Login
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import controller from "../Controllers/login.js";
export default controller;
</script>

<style scoped>
@import "./../assets/css/layouts/login.css";
@import "./../assets/css/layouts/maintenance.css";
@import "./../assets/css/layouts/error.css";

p {
  margin-top: -8px;
  font-size: 12px;
}
h5 {
  font-size: 20px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.help-block {
  margin-bottom: -25px;
}
.login input {
  width: 100%;
  height: 40px;
  line-height: 30px;
  padding: 22px 12px;
  border-radius: 8px;
  border: 2px solid #ffffff;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
.forgotpassword {
  text-align: center;
}
.forgotpassword a {
  font-size: 13px;
  color: whitesmoke;
}

.forgotpassword a:hover {
  color: wheat;
}
</style>
